@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1621249644173') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before {
  content: "\e617";
}

.icon-gouwuche:before {
  content: "\e699";
}

.icon-yonghu:before {
  content: "\e635";
}

.icon-home:before {
  content: "\e625";
}

